@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  /* font-family: "Noto Serif SC", serif; */
  font-family: "Roboto", "Noto Serif SC", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#navBar {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 10;
}

#logo {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 20px;
}

#logoTitle {
  display: flex;
}

#navBar #logoTitle h1 {
  margin-top: 8%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#logoLink {
  text-decoration: none;
}

#navBar ul {
  margin-right: 5%;
  margin-top: 15px;
  cursor: pointer;
}

#navBar ul li {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px;
}

#navBar ul li a {
  text-decoration: none;
  color: black;
}

/* section one  */

#sectOne {
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  display: flex;
  height: 85vh;
}

/* #imgOne {
  width: 65vw;
  object-fit: contain;
  left: 35vw;
  z-index: -1;
  position: absolute;
} */

#firstVideo {
  position: absolute;
  z-index: -1;
  left: 35vw;
  height: 90vh;
  object-fit: contain;
}

#greyCircle {
  background-color: #d3d3d350;
  height: 500px;
  width: 500px;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  left: -150px;
  top: -150px;
}

#textSectOne {
  margin: 100px 0 0 100px;
}

#textSectOne h1 {
  font-size: 50px;
}

#textSectOne p {
  font-size: 20px;
  color: white;
  background-color: black;
  margin: 10px 0;
  padding: 7px;
  width: fit-content;
}

/* section two */

#sectTwo {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 90vh;
}

#blackCircle {
  background-color: black;
  height: 90vh;
  width: 50vw;
  z-index: -1;
  border-radius: 500px;
  left: -250px;
  /* margin-top: 150px; */
  position: absolute;
}

#textSectTwo {
  margin: 10% 0 0 2%;
  /* top: -250px; */
  /* margin-top: 250px; */
}

#textSectTwo h1 {
  font-size: 35px;
  color: white;
  background: black;
  width: fit-content;
  padding: 15px;
}

#textSectTwo p {
  font-size: 18px;
  color: white;
  background: black;
  margin: 5px 0;
  padding: 5px;
  /* width: 30vw; */
  width: fit-content;
}

#imgTwo {
  position: absolute;
  margin-top: 1%;
  object-fit: contain;
  width: 70%;
  right: 0;
  z-index: -2;
}

#secondVideo {
  position: absolute;
  margin-top: 1%;
  object-fit: contain;
  width: 70%;
  right: 0;
  z-index: -2;
}

/* services section  */

#services {
  margin-top: 250px;

  /* position: relative; */
}

/* services section */

#servicesTitle {
  margin-bottom: 20px;
}

#services h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

#services p {
  text-align: center;
  font-size: 20px;
}

.scrollmenu {
  /* display: inline-flex; */
  /* width: 550px; */
  /* margin: auto; */
}

#carousel img {
  width: 450px;
  height: 250px;
  margin: 5px;
  object-fit: cover;
}

#carousel {
  width: 100%;
  height: auto;
  background-color: white;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 25px;
  cursor: grab;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#carousel::-webkit-scrollbar {
  height: 0 !important;
}

#carousel .slide {
  display: inline-block;
  scroll-snap-align: center;
}

#carousel .emptySlide {
  display: inline-block;
  scroll-snap-align: center;
  width: 700px;
  height: 250px;
  margin: 5px;
  background-color: white;
}

#services #buttonLeft {
  /* color: #ff0000; */
  position: absolute;
  margin-top: 100px;
  left: 0;
  right: 600px;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
  background-color: transparent;
  background-image: url("images/293664_chevron_left_icon.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#services #buttonRight {
  /* color: #ff0000; */
  position: absolute;
  /* text-align: center; */
  margin-top: 100px;
  left: 600px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
  background-color: transparent;
  background-image: url("images/293665_right_chevron_icon.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#services #vmButton {
  width: fit-content;
  margin: auto;
  /* color: #ff0000; */
}

#services #vmButton button {
  margin-top: 25px;
  width: 300px;
  padding: 20px;
  background-color: transparent;
  border: 2px #35c1be solid;
  color: #35c1be;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

/* works section */

#works {
  margin-top: 200px;
}

#worksTitle {
  margin-bottom: 25px;
}

#worksTitle p {
  text-align: center;
}

#works h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

#works #buttonLeftTwo {
  /* color: #ff0000; */
  position: absolute;
  margin-top: 110px;
  left: 0;
  right: 1100px;
  margin-left: auto;
  margin-right: auto;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
  background-color: transparent;
  background-image: url("images/293664_chevron_left_icon.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#works #buttonRightTwo {
  /* color: #ff0000; */
  position: absolute;
  margin-top: 110px;
  left: 1100px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /* width: fit-content; */

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px black solid;
  background-color: transparent;
  background-image: url("images/293665_right_chevron_icon.png");
  background-size: 75%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#carousel2 {
  display: flex;
  width: 1000px;
  margin: auto;
  overflow: auto;
  cursor: grab;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#carousel2::-webkit-scrollbar {
  height: 0 !important;
}

#carousel2 .slide {
  scroll-snap-align: center;
}

.worksSlideInner {
  display: flex;
  width: 1000px;
  height: 300px;
}

.worksSlideDescription {
  width: 60%;
  padding: 1% 3%;
}

.worksSlideDescription h2 {
  margin-bottom: 10px;
}

.worksSlideDescription p {
  line-height: 150%;
  margin-bottom: 10px;
}

#carousel2 .slide img {
  width: 40%;
  height: 100%;
}

.workSlideViewMore {
  text-align: right;
  text-transform: uppercase;
  color: #35c1be;
}

.workSlideViewMore a {
  text-decoration: none;
  color: #35c1be;
}

/* news and topics section */

#newsTopics {
  margin-top: 200px;
}

#newsTopicsHeadline {
  width: fit-content;
  margin: auto;
  margin-bottom: 35px;
}

#newsTopicsHeadline h1 {
  font-size: 50px;
  text-transform: uppercase;
}

#newsTopicsHeadline p {
  font-size: 18px;
  text-align: center;
}

#ntNavbar {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

#ntNavbar a {
  margin: 0 1px;
  padding: 0 50px;
  border-left: 2px solid black;
  text-decoration: none;
  color: black;
}

#ntNavbar #aOne {
  border-left: none;
}

.ntPhotobarImg {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

#ntPhotobar {
  display: flex;
  width: fit-content;
  margin: auto;
}

.ntPhotobarItem {
  margin: 0 10px;
  width: 250px;
}

.ntPhotobarItem .newsDate {
  margin-top: 15px;
}

.ntPhotobarItem .newsTopicsDateAndItem {
  display: flex;
}

.ntPhotobarItem .newsTopicsDateAndItem .somethingElse {
  margin-top: 15px;
  margin-left: 10px;
  background-color: #0087b4;
  color: white;
  font-size: 12px;
  padding: 3px;
}

.ntPhotobarItem .newsItemnotes {
  margin-top: 15px;
}

#viewNewsButton {
  display: none;
  width: fit-content;
  margin: auto;
  /* color: #ff0000; */
}

#viewNewsButton button {
  margin-top: 25px;
  width: 300px;
  padding: 20px;
  background-color: transparent;
  border: 2px #35c1be solid;
  color: #35c1be;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

/* about section */

#about {
  margin-top: 200px;
  position: relative;
  overflow: hidden;
  height: 85vh;
}

#aboutContainer {
  display: flex;
  /* position: relative; */
  /* overflow: hidden; */
  /* height: fit-content; */
}

#aboutTitle {
  background-color: white;
  padding: 20px 150px;
}

#aboutTitle h2 {
  font-size: 40px;
  text-transform: uppercase;
}

#aboutContainer #aboutPhoto {
  width: 60vw;
  height: auto;
  position: absolute;
  left: 0px;
  margin-top: 50px;
  z-index: -1;
  object-fit: cover;
}

#aboutContainer #aboutDescription {
  position: absolute;
  margin-top: 8%;
  left: 58vw;
}

#aboutContainer #aboutDescription h3 {
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 30px;
}

#aboutContainer #aboutDescription p {
  padding: 5px;
  font-size: 20px;
  margin-left: 80px;
}

#aboutContainer #aboutDescription a {
  text-decoration: none;
}

#aboutContainer #aboutDescription button {
  padding: 15px;
  /* font-size: 20px; */
  margin-left: 0px;
  margin-top: 20px;
  width: 300px;
  border-radius: 25px;
  border: 2px #35c1be solid;
  background-color: white;
  color: #35c1be;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#about #greySquare {
  width: 400px;
  height: 400px;
  background-color: grey;
  z-index: -2;
  border-radius: 35%;
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* margin-top: 50px; */
  /* make it transparent? */
  opacity: 0.2;
}

#about #greenSquare {
  /* margin-top: 100px; */
  /* width: 200px;
  border-bottom: 200px;
  border-left: 25px;
  border-right: 25px;
  height: 0px; */

  border-bottom: 500px solid #35c1be;
  border-left: 150px solid transparent;
  border-right: 250px solid transparent;
  height: 100%;
  width: 700px;

  /* background-color: green; */
  /* z-index: -2; */
  /* border-radius: 35%; */
  position: absolute;
  /* left: 850px; */
  right: -500px;
  /* margin-top: 50px; */
  /* make it transparent? */
  opacity: 0.3;
}

/* recruit section */

#recruitSection {
  text-align: center;
  margin-top: 200px;
  background-image: url("images/recruitImg.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  margin-bottom: 100px;
}

#recruitSection #recruitSectionTitle {
  padding-top: 100px;
  margin-bottom: 30px;
  color: white;
}

#recruitSection #recruitSectionTitle h2 {
  font-size: 60px;
  text-transform: uppercase;
  /* font-weight: bold; */
  /* padding-top: 100px; */
}

#recruitSection #recruitSectionInfo p {
  color: white;
  padding: 5px;
  font-size: 22px;
  font-weight: bold;
}

#recruitSection button {
  margin-top: 30px;
  padding: 15px;
  /* font-size: 20px; */
  margin-left: 0px;
  width: 300px;
  border-radius: 25px;
  border: 2px #35c1be solid;
  background-color: white;
  color: #35c1be;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
}

#recruitSection button:hover {
  opacity: 0.7;
}

/* footer section */

#footer {
  margin-top: 150px;
}

#footer a {
  text-decoration: none;
  color: black;
}

#footerUpper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#footerLower {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

#footerLogoContainer {
  display: flex;
  margin-bottom: 10px;
}

#footerLeftColumn button {
  margin: 20px 0;
  padding: 15px;
  /* font-size: 20px; */
  margin-left: 0px;
  width: 200px;
  border-radius: 25px;
  border: 2px #35c1be solid;
  color: #35c1be;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#footerLogoContainer h1 {
  padding-top: 10px;
}

#footerLeftColumn p {
  margin-left: 20px;
}

#socialMediaIcons {
  display: flex;
}

.fa {
  padding: 10px;
  font-size: 500px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: black;
}

#footerNavLinks {
  display: flex;
  text-transform: uppercase;
}

#footerLogo {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 20px;
}

#footerNavLinks div {
  margin-left: 10px;
}

#footerNavLinks h3 {
  margin-bottom: 10px;
  margin-left: 20px;
}

#footerNavLinks li {
  margin-bottom: 5px;
  left: -10px;
  font-size: 14px;
}

@media (max-width: 1000px) {
  /* nav bar  */

  #navBar ul {
    display: none;
  }

  /* section one  */

  #sectOne {
    height: fit-content;
  }

  #firstVideo {
    /* position: relative; */
    left: 0vw;
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }

  #greyCircle {
    display: none;
  }

  #textSectOne {
    margin: 42vh 0 0 20px;
  }

  #textSectOne h1 {
    font-size: 30px;
  }

  #textSectOne p {
    font-size: 18px;
    margin: 10px 0;
    padding: 5px;
    width: fit-content;
  }

  /* section two  */

  #sectTwo {
    /* display: inline; */
    height: fit-content;
  }

  #blackCircle {
    display: none;
  }

  #secondVideo {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
  }

  #textSectTwo {
    margin: 45vh 0 0 2%;
    /* top: -250px; */
    /* margin-top: 250px; */
  }

  #textSectTwo h1 {
    font-size: 22px;
    width: fit-content;
    padding: 0px;
    margin: 0 10px;
    color: black;
    background-color: white;
  }

  #textSectTwo p {
    font-size: 18px;
    color: black;
    background-color: white;
    margin: 10px 10px;
    padding: 0px;
    /* width: 30vw; */
    width: fit-content;
  }

  /* services section */

  #services {
    margin-top: 50px;
  }

  #services h1 {
    font-size: 30px;
  }

  #services p {
    font-size: 18px;
  }

  #carousel img {
    padding: 5px;
    width: 95vw;
    height: 250px;
    margin: 5px;
    object-fit: cover;
  }

  #carousel {
    width: 95vw;
    margin: auto;
  }

  #services #buttonLeft {
    right: 80vw;
    width: 40px;
    height: 40px;
  }

  #services #buttonRight {
    left: 80vw;
    width: 40px;
    height: 40px;
  }

  #carousel .emptySlide {
    display: none;
  }

  /* works section  */

  #works {
    margin-top: 100px;
  }

  #works h1 {
    font-size: 30px;
  }

  #carousel2 {
    width: 75vw;
  }

  .worksSlideInner {
    width: 75vw;
  }

  #works #buttonLeftTwo {
    right: 85vw;
    width: 30px;
    height: 30px;
  }

  #works #buttonRightTwo {
    left: 85vw;
    width: 30px;
    height: 30px;
  }

  .worksSlideInner {
    display: inline;
  }

  #carousel2 .slide img {
    width: 75vw;
    height: 30%;
  }

  .worksSlideDescription {
    width: 75vw;
    padding: 1% 3%;
  }

  .worksSlideDescription h2 {
    font-size: 20px;
  }

  .worksSlideDescription p {
    font-size: 16px;
  }

  /* news section  */
  #newsTopics {
    margin-top: 20px;
  }

  #newsTopicsHeadline {
    margin-bottom: 10px;
  }

  #ntNavbar {
    display: none;
  }

  #ntPhotobar {
    display: inline;
  }

  #newsTopicsHeadline h1 {
    font-size: 30px;
  }

  .ntPhotobarImg {
    display: none;
  }

  .ntPhotobarItem .newsDate {
    font-weight: 600;
  }

  .ntPhotobarItem .newsItemnotes {
    margin-top: 5px;
  }

  #viewNewsButton {
    display: block;
  }

  /* about section  */

  #about {
    margin-top: 100px;
    height: fit-content;
  }

  #aboutTitle {
    padding: 20px 15px;
  }

  #aboutContainer #aboutPhoto {
    display: block;
    width: 80vw;
    /* height: auto; */
    /* position: relative; */
    /* left: 10px; */
    /* margin: 50px auto 0; */
    margin: auto;

    /* z-index: -1; */
    /* object-fit: cover; */
  }

  #aboutContainer {
    display: block;
  }

  #aboutContainer #aboutPhoto {
    position: relative;
  }

  #aboutContainer #aboutDescription {
    position: relative;
    left: 0;
  }

  #aboutContainer #aboutDescription h3 {
    margin: 10px 3vw 10px;
    font-size: 20px;
    width: fit-content;
  }

  #aboutContainer #aboutDescription p {
    padding: 5px;
    font-size: 18px;
    margin-left: 3vw;
  }

  #aboutTitle h2 {
    font-size: 30px;
  }

  #aboutContainer #aboutDescription button {
    display: block;
    margin: 10px auto 0;
  }

  #about #greySquare {
    width: 300px;
    height: 300px;
    position: absolute;
    right: 20px;
    bottom: 200px;
  }

  /* footer section  */

  #footerUpper {
    display: inline;
  }

  #footerLeftColumn button {
    margin: 20px 20px;
  }

  #adressLine {
    width: 80%;
  }

  #socialMediaIcons {
    margin-bottom: 25px;
  }

  .footerNavLinksItem {
    display: flex;
  }

  #footerNavLinks {
    display: inline;
  }

  .footerNavLinksTitle {
    width: 50vw;
  }

  #footerNavLinks ul {
  }

  #footerLower {
    display: inline;
  }

  #footerLower p {
    margin: 10px 20px 0px;
  }

  #footerLower #copywriteLine {
    margin-bottom: 100px;
  }
}
