@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  /* font-family: "Noto Serif SC", serif; */
  font-family: "Roboto", "Noto Serif SC", sans-serif;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* navbar  */

#navBar {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 20;
}

#logo {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 20px;
}

#logoTitle {
  display: flex;
}

#navBar #logoTitle h1 {
  margin-top: 8%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#logoLink {
  text-decoration: none;
}

#navBar ul {
  position: relative;
  margin: 15px 5% 0 0;
  padding: unset;
  width: unset;
  top: unset;
  cursor: pointer;
  /* display: unset; */
}

.navBarLiItem {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px;
  font-size: unset;
  text-align: unset;
}

#navBar ul li a {
  text-decoration: none;
  color: black;
}

#navBar ul li button {
  margin: 0;
  padding: 10px;
  /* font-size: 20px; */
  margin-left: 0px;
  width: 200px;
  border-radius: 25px;
  border: 2px #35c1be solid;
  color: #35c1be;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#navBar ul #navBarPrivacy p {
  font-size: 12px;
  color: white;
}

#navBar ul #navBarContact {
  display: none;
}

#navBar ul #navBarPrivacy {
  display: none;
}

#navBar ul #navBarSocialMediaIcons {
  display: none;
}

#navBar #hamburgerIconDiv {
  display: none;
}

#navBar #closeIconDiv img {
  margin: 15px;
  height: 25px;
  width: 25px;
  position: fixed;
  top: 0;
  right: 0;
}

#navBar #closeIconDiv img:hover {
  cursor: pointer;
}

#navBar #closeIconDiv {
  display: none;
}

#navBar #hamburgerIconDiv img {
  margin: 15px;
  height: 25px;
  width: 25px;
  position: fixed;
  top: 0;
  right: 0;
}

#navBar #hamburgerIconDiv img:hover {
  cursor: pointer;
}

#navBar #hamburgerIconDiv {
  display: none;
}

/* footer section */

#footer {
  margin-top: 150px;
}

#footer a {
  text-decoration: none;
  color: black;
}

#footerUpper {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

#footerLower {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

#footerLogoContainer {
  display: flex;
  margin-bottom: 10px;
}

#footerLeftColumn button {
  margin: 20px 0;
  padding: 15px;
  /* font-size: 20px; */
  margin-left: 0px;
  width: 200px;
  border-radius: 25px;
  border: 2px #35c1be solid;
  color: #35c1be;
  background-color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

#footerLogoContainer h1 {
  padding-top: 10px;
}

#footerLeftColumn p {
  margin-left: 20px;
}

#socialMediaIcons {
  display: flex;
}

.fa {
  padding: 10px;
  font-size: 500px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: black;
}

#footerNavLinks {
  display: flex;
  text-transform: uppercase;
}

#footerLogo {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 20px;
}

#footerNavLinks div {
  margin-left: 10px;
}

#footerNavLinks h3 {
  margin-bottom: 10px;
  margin-left: 20px;
}

#footerNavLinks li {
  margin-bottom: 5px;
  left: -10px;
  font-size: 14px;
}

/* news page */

/* news and topics section */

#newsTopics {
  margin-top: 200px;
}

#newsTopicsHeadline {
  width: fit-content;
  margin: auto;
  margin-bottom: 35px;
}

#newsTopicsHeadline h1 {
  font-size: 50px;
  text-transform: uppercase;
}

#newsTopicsHeadline p {
  font-size: 18px;
  text-align: center;
}

#ntNavbar {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

#ntNavbar p {
  margin: 0 1px;
  padding: 0 50px;
  border-left: 2px solid black;
  text-decoration: none;
  color: black;
}

#ntNavbar p:hover {
  cursor: pointer;
}

/* navbar buttons  */

#ntNavbar #showAll {
  border-left: none;
}

/* news items by ID  */

#newsItemOne {
  display: inline;
}

#newsItemTwo {
  display: inline;
}

#newsItemThree {
  display: inline;
}

#newsItemFour {
  display: inline;
}

.ntPhotobarImg {
  width: 250px;
  height: 150px;
  object-fit: cover;
}

#ntPhotobar {
  display: flex;
  width: fit-content;
  margin: auto;
}

.ntPhotobarItem {
  margin: 0 10px;
  width: 250px;
}

.ntPhotobarItem .newsDate {
  margin-top: 15px;
}

.ntPhotobarItem .newsTopicsDateAndItem {
  display: flex;
}

.ntPhotobarItem .newsTopicsDateAndItem .somethingElse {
  margin-top: 15px;
  margin-left: 10px;
  background-color: #0087b4;
  color: white;
  font-size: 12px;
  padding: 3px;
}

.ntPhotobarItem .newsItemnotes {
  margin-top: 15px;
}

@media (max-width: 1000px) {
  /* nav bar  */
  /* navbar will be hidden  */

  #navBarUl {
    display: none;
  }

  /* this is all we will display  */

  #navBar #hamburgerIconDiv {
    display: inline;
  }

  /* news and topics section */

  #newsTopics {
    margin-top: 100px;
  }

  #newsTopicsHeadline h1 {
    font-size: 30px;
  }

  #newsTopicsHeadline p {
    font-size: 14px;
  }

  #ntNavbar p {
    font-size: 14px;
    padding: 0 10px;
  }

  #ntPhotobar {
    display: block;
  }

  #newsItemOne {
    display: block;
  }

  #newsItemTwo {
    display: block;
  }

  #newsItemThree {
    display: block;
  }

  #newsItemFour {
    display: block;
  }

  .ntPhotobarItem .newsDate {
    margin-top: 5px;
  }

  .ntPhotobarItem .newsTopicsDateAndItem .somethingElse {
    margin-top: 5px;
  }
  .ntPhotobarItem {
    margin: 40px 10px 0;
  }

  .ntPhotobarItem .newsItemnotes {
    margin-top: 5px;
  }

  /* footer section  */

  #footerUpper {
    display: inline;
  }

  #footerLeftColumn button {
    margin: 20px 20px;
  }

  #adressLine {
    width: 80%;
  }

  #socialMediaIcons {
    margin-bottom: 25px;
  }

  .footerNavLinksItem {
    display: flex;
  }

  #footerNavLinks {
    display: inline;
  }

  .footerNavLinksTitle {
    width: 50vw;
  }

  #footerNavLinks ul {
  }

  #footerLower {
    display: inline;
  }

  #footerLower p {
    margin: 10px 20px 0px;
  }

  #footerLower #copywriteLine {
    margin-bottom: 100px;
  }
}
