@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  /* font-family: "Noto Serif SC", serif; */
  font-family: "Roboto", "Noto Serif SC", sans-serif;
  margin: 0;
  box-sizing: border-box;
}

#navBar {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo {
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 10px 20px;
}

#logoTitle {
  display: flex;
}

#navBar #logoTitle a {
  margin-top: 8%;
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-weight: bold;
}

#navBar ul {
  margin-right: 5%;
  margin-top: 15px;
}

#navBar ul li {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 20px;
}

#imgOne {
  position: absolute;
  /* height: 80vh; */
  width: 70vw;
  object-fit: contain;
  right: 0;
  top: 50px;
  z-index: -1;
}

#greyCircle {
  background-color: #d3d3d350;
  height: 500px;
  width: 500px;
  z-index: -1;
  position: absolute;
  border-radius: 50%;
  left: -150px;
  top: -150px;
}

#textSectOne {
  margin: 100px 0 0 100px;
}

#textSectOne h1 {
  font-size: 50px;
}

#textSectOne p {
  font-size: 20px;
  color: white;
  background-color: black;
  margin: 10px 0;
  padding: 7px;
  width: fit-content;
}

/* section two */

#sectTwo {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

#blackCircle {
  background-color: black;
  height: 90vh;
  width: 60vw;
  z-index: -1;
  border-radius: 50%;
  left: -400px;
  /* margin-top: 150px; */
  position: absolute;
}

#textSectTwo {
  margin: 120px 0 0 50px;
  /* top: -250px; */
  /* margin-top: 250px; */
}

#textSectTwo h1 {
  font-size: 50px;
  color: white;
  background: black;
  width: fit-content;
  padding: 5px;
}

#textSectTwo p {
  font-size: 16px;
  color: white;
  background: black;
  margin: 5px 0;
  padding: 5px;
  /* width: 30vw; */
  width: fit-content;
}

#imgTwo {
  margin-top: 30px;
  /* height: 80vh; */
  /* width: 60vw; */
  object-fit: contain;
  /* position: relative; */
  /* right: 0; */
  width: 65%;
  /* left: -500px; */
  /* margin-top: 200px; */
  z-index: -2;
}

#services {
  margin-top: 250px;

  /* position: relative; */
}

/* services section */

#services h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

#services p {
  text-align: center;
  font-size: 20px;
}

.scrollmenu {
  /* display: inline-flex; */
  /* width: 550px; */
  /* margin: auto; */
}

#carousel img {
  width: 450px;
  height: 250px;
  margin: 5px;
}

#carousel {
  width: 100%;
  height: auto;
  background-color: #ff0000;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 50px;
  cursor: grab;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

#carousel .slide {
  display: inline-block;
  scroll-snap-align: center;
}

#services #buttonLeft {
  color: #ff0000;
  position: absolute;
  left: 30%;
  margin-top: 100px;
}

#services #buttonRight {
  color: #ff0000;
  position: absolute;
  right: 30%;
  margin-top: 100px;
}

/* works section */

#works h1 {
  text-align: center;
  font-size: 50px;
  text-transform: uppercase;
}

#works p {
  text-align: center;
  font-size: 20px;
}

#works #buttonLeft {
  color: #ff0000;
  position: absolute;
  left: 10%;
  margin-top: 100px;
}

#works #buttonRight {
  color: #ff0000;
  position: absolute;
  right: 10%;
  margin-top: 100px;
}

/* news and topics section */

#ntNavbar {
  display: flex;
  width: fit-content;
  margin: auto;
  margin-bottom: 50px;
}

#ntNavbar a {
  margin: 0 1px;
  padding: 0 50px;
  border-left: 2px solid black;
}

#ntNavbar #aOne {
  border-left: none;
}

.ntPhotobarImg {
  width: 200px;
}

#ntPhotobar {
  display: flex;
  width: fit-content;
  margin: auto;
}

.ntPhotobarItem {
  margin: 0 10px;
}
